.home-main {
  margin-top: 100px;

  .head-item {
    text-align: center;
    padding: 13px;
  }

  .styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9rem;
    font-family: sans-serif;
    width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 768px) {
      width: 600px;
    }
    @media screen and (max-width: 590px) {
      width: 300px;
    }
  }
  .styled-table thead tr {
    background-color: rgb(166, 132, 69);
    color: #ffffff;
    text-align: left;
  }
  .styled-table thead th td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddd;
  }
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .styled-table tbody tr:last-of-type() {
    border-bottom: 2px solid #009879;
  }
  .btn {
    border: none;
    color: white;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn-edit {
    background-color: #008cba;
  }
  .btn-delete {
    background-color: #f44336;
  }
  .btn-view {
    background-color: #e7e7e7;
    color: black;
  }
}
